<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1> Create Product </h1>
<form action="/create" method="post">
    <table>
        <tr>
            <td><input name="id" placeholder="Nhập id"></td>
            <td><input name="name" placeholder="Nhập name"></td>
            <td><input name="price" placeholder="Nhập price"></td>
            <td><input name="img" placeholder="Nhập img"></td>
            <td>
                <select name="idCategory">
                    <option th:each="c:${category} " th:value="${c.getId() }" th:text="${c.getName()}"></option>

                </select>
            </td>
            <td>
                <select name="status">
                    <option value="true"> true</option>
                    <option value="false"> false</option>
                </select>
            </td>
        </tr>
        <button type="submit">create</button>
    </table>
</form>

</body>
</html>